<!DOCTYPE html>
<html ng-app='myApp'>
<head lang="en">
    <script src="js/jquery-1.11.2.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <title>Marek's Online Game Shop</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  id="TopNav" class="navbar-brand" href="#" style="color: #FFFFFF" >Marek's Online Game Shop</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">

            <h2 ng-click="searchVar.category=''" style="font-family: pacificoregular; color: #0c97e2"><a id="GameGenresSideNav" href="#" style="color: #0c97e2">Game Genres</a></h2>

            <!-- Start css3menu.com BODY section -->
            <input type="checkbox" id="css3menu-switcher" class="c3m-switch-input">
            <ul id="css3menu1" class="topmenu">
                <li class="switch"><label onclick="" for="css3menu-switcher"></label></li>
                <li ng-click="searchVar.category='MOBA'" class="topfirst"><a id = "MOBACategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">MOBA</span></a>
                    <ul>
                        <li><a id ="LoLSideNav" href="#">League of Legends</a></li>
                        <li><a id ="DOTA2SideNav" href="#">DOTA 2</a></li>
                        <li><a id ="HoNSideNav" href="#">Heroes of Newerth</a></li>
                        <li><a id ="HotSSideNav" href="#">Heroes of the Storm</a></li>
                    </ul></li>
                <li ng-click="searchVar.category='Strategy'" class="topmenu"><a id = "StrategyCategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">Strategy</span></a>
                    <ul>
                        <li><a id ="SCIISideNav" href="#">StarCraft II</a></li>
                        <li><a id ="WarcraftIIISideNav" href="#">Warcraft III</a></li>
                        <li><a id ="CnC4SideNav" href="#">Command and Conquer 4</a></li>
                    </ul></li>
                <li ng-click="searchVar.category='MMORPG'" class="topmenu"><a id = "MMORPGCategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">MMORPG</span></a>
                    <ul>
                        <li><a id ="WoWSideNav" href="#">World of Warcraft</a></li>
                        <li><a id ="RunescapeSideNav" href="#">Runescape</a></li>
                        <li><a id ="WildStarSideNav" href="#">WildStar</a></li>
                        <li><a id ="ESOSideNav" href="#">Elder Scrolls Online</a></li>
                    </ul></li>
                <li ng-click="searchVar.category='RPG'" class="topmenu"><a id = "RPGCategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">RPG </span></a>
                    <ul>
                        <li><a id ="SkyrimSideNav" href="#">The Elder Scrolls V: Skyrim</a></li>
                        <li><a id ="DAISideNav" href="#">Dragon Age: Inquisition</a></li>
                        <li><a id ="DarkSoulsIISideNav" href="#">Dark Souls II</a></li>
                        <li><a id ="DiabloIIISideNav" href="#">Diablo III</a></li>
                        <li><a id ="ME3SideNav" href="#">Mass Effect 3</a></li>
                    </ul></li>
                <li ng-click="searchVar.category='Action & Adventure'" class="topmenu"><a id = "Action_AdventureCategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">Action &amp; Adventure</span></a>
                    <ul>
                        <li><a id ="GTAVSideNav" href="#">Grand Theft Auto V</a></li>
                        <li><a id ="DayZSideNav" href="#">DayZ</a></li>
                        <li><a id ="BioShockSideNav" href="#">BioShock: Infinite</a></li>
                        <li><a id ="MagickaSideNav" href="#">Magicka</a></li>
                    </ul></li>
                <li ng-click="searchVar.category='Shooter'" class="topmenu"><a id = "ShooterCategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">Shooter</span></a>
                    <ul>
                        <li><a id ="TF2SideNav" href="#">Team Fortress 2</a></li>
                        <li><a id ="CoDSideNav" href="#">Call of Duty: Advanced Warfare</a></li>
                        <li><a id ="BF4SideNav" href="#">Battlefield 4</a></li>
                    </ul></li>
                <li ng-click="searchVar.category='Indie'" class="topmenu"><a id = "IndieCategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">Indie</span></a>
                    <ul>
                        <li><a id ="BroforceSideNav" href="#">Broforce</a></li>
                        <li><a id ="HotlineMiamiSideNav" href="#">Hotline Miami</a></li>
                        <li><a id ="DivekickSideNav" href="#">Divekick</a></li>
                    </ul></li>
                <li ng-click="searchVar.category='Sports & Racing'" class="topmenu"><a id = "Sports_RacingCategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">Sports &amp; Racing</span></a>
                    <ul>
                        <li><a id ="FIFA15SideNav" href="#">FIFA 15</a></li>
                        <li><a id ="SpeedRunnersSideNav" href="#">SpeedRunners</a></li>
                        <li><a id ="F12013SideNav" href="#">F1 2013</a></li>
                        <li><a id ="NBA2K15SideNav" href="#">NBA 2K15</a></li>
                    </ul></li>
                <li ng-click="searchVar.category='Simulation'" class="toplast"><a id = "SimulationCategorySideNav" href="#" style="width:170px;"><span><img src="./images/blue-arrow2 right.png" alt="">Simulation</span></a>
                    <ul>
                        <li><a id ="Arma3SideNav" href="#">Arma 3</a></li>
                        <li><a id ="RCT3SideNav" href="#">RollerCoaster Tycoon 3</a></li>
                        <li><a id ="GoatSimulatorSideNav" href="#">Goat Simulator</a></li>
                    </ul></li>
                <!-- End css3menu.com BODY section -->


        </div>



        <div ng-controller='MainController'>

            <!--<div>-->

                <!--Add Game-->
                <!--<hr>-->
                <!--Name: <input type="text" ng-model="newGame.name"/>-->
                <!--<br>-->
                <!--Category: <input type="text" ng-model="newGame.category"/>-->
                <!--<br>-->
                <!--Developer: <input type="text" ng-model="newGame.developer"/>-->
                <!--<br>-->
                <!--Max Local Players: <input type="text" ng-model="newGame.max_local_players"/>-->
                <!--<br>-->
                <!--CoOp Story Mode?: <input type="text" ng-model="newGame.coop_TF"/>-->
                <!--<br>-->
                <!--Online Mode?: <input type="text" ng-model="newGame.online_TF"/>-->
                <!--<br>-->
                <!--Price: <input type="text" ng-model="newGame.price"/>-->
                <!--<br>-->
                <!--Subscription?: <input type="text" ng-model="newGame.subscription_TF"/>-->
                <!--<br>-->
                <!--Available on Windows?: <input type="text" ng-model="newGame.windows_TF"/>-->
                <!--<br>-->
                <!--Available on Mac OS X?: <input type="text" ng-model="newGame.mac_TF"/>-->
                <!--<br>-->
                <!--Description: <input type="text" ng-model="newGame.description"/>-->
                <!--<br>-->
                <!--Thumbnail Image: <input type="text" ng-model="newGame.thumbnail"/>-->
                <!--<br>-->
                <!--Banner Image: <input type="text" ng-model="newGame.banner"/>-->
                <!--<br>-->

                <!--<button ng-click="addGame()">Add</button>-->

                <!--<hr>-->
                <!--<br>-->

            <!--</div>-->

        <!--</div>-->
















        <div class="col-md-9">

            <h1 id="CategoryName" style="font-family: pacificoregular; color: #0c97e2; text-align: center">Featured Games</h1>
            <br>



            <div id="featuredGamesDiv" class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="./images/leagueoflegendslarge.png" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="./images/gta5large.jpg" alt="">
                            </div>
                            <div class="item">
                                <img  class="slide-image" src="./images/hotlinemiamilarge.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>


            <div>


                <div id="salesGames" class="row">

                    <h3 id="pecialSales" style="font-family: pacificoregular; color: #0c97e2; text-align: center">Special Sales!</h3>

                    <div class="blankSpace"></div>


                    <div ng-repeat="newGame in myGamesList | orderBy:random | limitTo: 6 | filter:searchVar:catSearch(searchVar.category)">


                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <div>
                                    <img src="{{newGame.thumbnail}}" alt="">
                                </div>
                                <div class="caption">
                                    <h4 class="pull-right">&nbsp  {{'$' + ((newGame.price | priceStringToFloat)/2).toFixed(2)}}</h4>
                                    <h4 style="text-decoration: line-through; font-size: 12px" class="pull-right">{{newGame.price}}</h4>
                                    <h4><a ng-style="{'font-size': salesNameSize((newGame.name | removeSubName).length)}" class="categoryGameName" href="#">{{newGame.name | removeSubName}}</a>
                                    </h4>
                                    <p>{{newGame.description}}</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">15 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div id="gameTiles" class="row">


                <div>
                    <!--<div style="text-align: center">
                        Filter By Category:
                    </div>
                    <div style="text-align: center">
                        <button ng-click="searchVar.category=''">All Categories</button>
                        <button ng-click="searchVar.category='MOBA'">MOBA</button>
                        <button ng-click="searchVar.category='Strategy'">Strategy</button>
                        <button ng-click="searchVar.category='MMORPG'">MMORPG</button>
                        <button ng-click="searchVar.category='RPG'">RPG</button>
                        <button ng-click="searchVar.category='Action & Adventure'">Action & Adventure</button>
                        <button ng-click="searchVar.category='Shooter'">Shooter</button>
                        <button ng-click="searchVar.category='Indie'">Indie</button>
                        <button ng-click="searchVar.category='Sports & Racing'">Sports & Racing</button>
                        <button ng-click="searchVar.category='Simulation'">Simulation</button>
                    </div>-->

                    <hr>


                    <div ng-repeat="newGame in myGamesList | filter:searchVar:catSearch(searchVar.category)">


                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <div>
                                    <img src="{{newGame.thumbnail}}" alt="">
                                </div>
                                <div class="caption">
                                    <h4 class="pull-right">{{newGame.price}}</h4>
                                    <h4><a ng-style="{'font-size': nameSize((newGame.name | removeSubName).length)}" class="categoryGameName" href="#">{{newGame.name | removeSubName}}</a>
                                    </h4>
                                    <p>{{newGame.description}}</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">15 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>

        </div>




            <div id="individualGame" class="row">

                <h1 class="GameName" style="font-family: pacificoregular; color: #0c97e2; text-align: center"></h1>

                <div class="blankSpace"></div>

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!--<ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>-->
                            <div class="carousel-inner">
                                <div id = "individualGameHeaderImage" class="item active">

                                </div>
                                <!-- <div class="item">
                                     <img class="slide-image" src="./images/Grand-Theft-Auto-V-GTA-5-carousel.jpg" alt="">
                                 </div>
                                 <div class="item">
                                     <img class="slide-image" src="./images/hotline_miami_carousel.jpg" alt="">
                                 </div>-->
                            </div>
                            <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>-->
                        </div>
                    </div>

                </div>

                <div class="row">

                    <h3 id="Information" style="font-family: pacificoregular; color: #0c97e2; text-align: center">Information</h3>

                    <div class="blankSpace"></div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <h3>Name:</h3>
                            <p class="GameName">

                            </p>
                            <h3>Category:</h3>
                            <p id="GameCategory">

                            </p>
                            <h3>Developer:</h3>
                            <p id="GameCompany">

                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <h3>Max Local Players:</h3>
                            <p id="GameMax_Local_Players">

                            </p>
                            <h3>CoOp Story Mode?:</h3>
                            <p id="GameCoOp">

                            </p>
                            <h3>Online Mode?:</h3>
                            <p id="GameOnline">

                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <h3>Price:</h3>
                            <p class="GamePrice">

                            </p>
                            <h3>Free To Play:</h3>
                            <p id="GameF2P">

                            </p>
                            <h3>Platform:</h3>
                            <p id="GamePlatform">

                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h3>Description:</h3>
                        <p id = "GameDescription">

                        </p>
                    </div>

                    <div class="col-md-12">
                        <h4 class="pull-right">Add To Cart </h4>
                        <h4 class="pull-right GamePrice">$0.00</h4>

                    </div>

                </div>

            </div>




    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Marek Schmidt 2015</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->



</body>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
<!--app.js-->
<script src="app.js"></script>
</html>